[submodule "PrismEngine/vendor/spdlog"]
	path = PrismEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PrismEngine/vendor/GLFW"]
	path = PrismEngine/vendor/GLFW
	url = https://github.com/DotPrism/glfw
[submodule "PrismEngine/vendor/imgui"]
	path = PrismEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "PrismEngine/vendor/glm"]
	path = PrismEngine/vendor/glm
	url = https://github.com/g-truc/glm
